<style>
    .text-right {
        text-align: right;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md">
            <a href="/imprint">
                Imprint
            </a>
            <a href="/privacy">
                Privacy
            </a>
        </div>
        <div class="col-md text-right">
            &copy; OptimFlow {{ now.Format "2006"}}. {{ .Site.Params.copyright }} {{ .Site.Params.terms.copyright | default "All Rights Reserved" }}
        </div>
    </div>
</div>
